<h1>Article</h1>

<p>Title: <%= @article.title %></p>
<p>Description: <%= @article.description %></p>

<%= link_to "Edit Article", edit_article_path(@article) %> | 
<%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %> | 
<%= link_to "Back to Articles", articles_path %>